<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Create Asset</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<h1>Create Asset</h1>
    <form action="#" th:action="@{/asset/createAsset}" th:object="${createAsset}" method="post">

        <p>Type: <input type="text" th:field="*{type}" /></p>
        <p>Title: <input type="text" th:field="*{title}" /></p>
        <p>Link: <input type="text" th:field="*{link}" /></p>
        <p>Line Number: <input type="text" th:field="*{lineNum}" /></p>
        <p>Programming Language: <input type="text" th:field="*{progLang}" /></p>
        <p>Associations:</p>
        <p>Is Documented In: <input type="text" th:field="*{isDocumentedIn}" /></p>
        <p>Depends On: <input type="text" th:field="*{dependsOn}" /></p>
        <p>Succeeded By : <input type="text" th:field="*{succeededBy}" /></p>
        
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>
